<%- include('includes/head') %>
<%- include('includes/navbar') %>

<link rel="stylesheet" href="css/main.css">

<body id="list-body">
    <div id="container">
        <form action="adicionarMembro" method="post">
            <input type="email" name="email" placeholder="email">
            <button style="background-color: rgba(0, 0, 0, 0.753);" type="submit">Adicionar membro</button>
        </form>
    </div>
</body>