<%- include('includes/head') %>
<%- include('includes/navbar') %>
<link rel="stylesheet" href="css/main.css">

<body id="list-body">            
    <form id="log-all" action="cadastro" method="POST">
        <img src="https://i.pinimg.com/originals/2d/5b/aa/2d5baa7fac6be9b9cfd29144c76d62bb.png" width="20%">
        <div>
            <input type="text" name="nome" placeholder="Nome">
        </div>

        <div>
            <input type="email" name="email" placeholder="E-mail">
        </div>

        <div>
            <input type="password" name="senha" placeholder="Senha">
        </div>

        <div>
            <a href="./login" id="new-memb">Logar</a>
        </div>

        <button id="submit" type="submit">Cadastrar</button>
    </form>
</body>