<%- include('includes/head') %>
<%- include('includes/navbar') %>
<link rel="stylesheet" href="css/main.css">

<body id="list-body">            
    <div id="container">

        <div>
            <a href="./verTimes" id="new-memb">Ver Times</a>
        </div>

        <div>
            <a href="./cadasteam" id="new-memb">Cadastrar Times</a>
        </div>

    </div>
</body>